/*Общие стили*/

*{
  box-sizing: border-box;
}

body{
  font-family: $font-opens;
  font-style: normal;
  color: $gray-font;
  font-weight: normal;
}
a{
  text-decoration: none;
  display:inline-block;
  outline: none;
  cursor: url("../images/pointer.png"), default;
}

.box{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width: 1199px){
    max-width: 992px;
  }
  @media screen and (max-width: 991px){
    max-width:768px;
  }
  @media screen and (max-width: 768px){
    max-width:100%;
  }
}

ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
img{
  max-width:100%;
  height:auto;
}
h1,h2,h3{
  margin:0;
}

.bold{
  font-weight: bold;
}

button{
  outline: none;
  border:none;
  padding: 0;
}
p{
  margin:0;
}
.title-section{
  position: relative;
  font-family: $font-merri;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  z-index:1;
  padding-left:30px;
  @media screen and (max-width:768px){
    font-size: 28px;
    line-height:36px;
  }
  @media screen and (max-width:480px){
    font-size: 22px;
    line-height:28px;
  }
  &::before{
    content: url("../images/about-company/crap.png");
    position: absolute;
    left:0;
    z-index:-1;
    top:-35%;
    @media screen and (max-width:768px){
      top:-62%;
    }
    @media screen and (max-width:480px){
      transform: scale(.8);
      top:-80%;
    }
    @media screen and (max-width:380px){
      top:-70%;
    }
  }
  &::after{
    position: absolute;
    opacity: 0.05;
    font-size: 160px;
    left:0;
    line-height: 45px;
    @media screen and (max-width:768px){
      font-size:100px;
    }
    @media screen and (max-width:480px){
      font-size:60px;
      top:0;
      left:30px;
    }
    @media screen and (max-width:350px){
      display:none;
    }
  }
}

.hidden{
  display:none;
}

@keyframes fadeIn {
  0%{
    margin:0;
    opacity: 0;
  }
  100%{
    opacity: 1;
    margin-top:5vh;
  }
}
@keyframes fadeOut {
  0%{
    opacity: 1;
    margin-top:5vh;
  }
  100%{
    margin:0;
    opacity: 0;
  }
}

@keyframes fadeInImg {
  0%{
    opacity:.5;
  }
  100%{
    opacity:1;
  }
}
@keyframes fadeInBlock {
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  100%{
    opacity:1;
    transform: translateY(calc(89px + 100vh));
  }
}

@keyframes fadeOutBlock {
  0%{
    opacity:1;
    transform: translateY(calc(89px + 100vh));
  }
  100%{
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-block{
  animation: fadeInBlock .4s ease both;
}
.animate-block-off{
  animation: fadeOutBlock .7s ease both;
}

.breadcrumbs{
  background: url("../images/page-catalog/bg.png") no-repeat center/cover;
}
.breadcrumbs-inner{
  padding: 5vh 0 18vh;
  text-align: center;
  @media screen and (max-width: 480px) {
    padding: 3vh 0 15vh;
  }
}
.breadcrumbs__title{
  font-family: $font-merri;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: $white;
  @media screen and (max-width: 480px) {
    font-size: 20px;
    line-height: 28px;
  }
}
.breadcrumbs__link{
  font-weight: bold;
  color: $white;
  text-decoration: underline;
  font-size: 14px;
  line-height: 19px;
  @media screen and (max-width: 480px) {
    font-size: 13px;
    line-height: 18px;
  }
}
.breadcrumbs__current{
  color: #7A8D9C;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 18px;
  }

}
.breadcrumbs__slash-before{
  position: relative;
  margin-left:10px;
  &::before{
    content: "/";
    position: absolute;
    left:-8px;
    color: #7A8D9C;
    @media screen and (max-width: 480px) {
      top:0;
    }
  }
}

.slick-slide {
  outline: none
}
