%gradient-text{
  background: -webkit-linear-gradient(270deg, #3568DF 0%, #00DDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
%merri-text{
  font-family: $font-merri;
  font-weight: 900;
}
