@import "vars";
@import "fonts";
@import "base";
@import "libs";
@import "media";
@import "mixin";


/*header*/
.header{
  max-height:100px;
  background: $white;
  position: fixed;
  width:100%;
  z-index:100;
}
.header__container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header__inform-container{
  color: $black-font;
}
.header__logo-container{
  display:flex;
  justify-content: flex-start;
}
.logo-item__main{
  margin-right:10px;
}
.header__inform-title{
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  margin:5px 0;
}
.header__inform-subtitle{
  font-size: 12px;
  line-height: 16px;
}

.header__menu{
  color: $black-font;
  flex-grow: 1;
}
.main-menu{
  display:flex;
  height:100%;
  justify-content: center;
}
.main-menu__item:not(:last-child){
  margin-right:3.5vw;
}
.main-menu__link{
  line-height:100px;
  font-size: 14px;
  font-weight: bold;
  color: $black-font;
  opacity: .7;
  position: relative;
  transition: all .3s ease;
  &::after{
    content:"";
    position: absolute;
    bottom:4vh;
    left:50%;
    transform: translate(-50%);
    width:11px;
    height:11px;
    background: linear-gradient(180deg, #3568DF 0%, #00DDFF 100%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s ease;
  }
  &:hover{
    opacity: 1;
    color: #18A8F0;
    &::after{
      opacity: 1;
    }
  }
}

.header__contacts{
  display:flex;
  flex-direction: column;
  text-align: right;
  color: $blacked-font;
}
.header__address{
  font-size: 12px;
  line-height: 16px;
}
.header__phone-link{
  font-size: 18px;
  line-height: 25px;
  color: $blacked-font;
  margin: 3px 0;
}
.header__contacts-callmeback{
  align-self:flex-end;
  background: -webkit-linear-gradient(270deg, #3568DF 0%, #00DDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  &::after{
    content:"";
    position: absolute;
    bottom:-3px;
    left:0;
    width:100%;
    height:2px;
    background: linear-gradient(180deg, #3568DF 0%, #00DDFF 100%);
  }
}

.main{
  padding-top:100px;
}
/*offer*/
.offer{
  background: url("../images/main-offer/full-bg.png") no-repeat center;
  background-size: cover;
  padding:10vh 0 59.6vh;
  text-align: center;
  color: $white;
}
.offer__title{
  font-family: $font-merri;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
}
.offer__button-container{
  display:flex;
  justify-content: center;
  margin-top: 5.2vh;
}
.offer__button-item{
  @extend %blue-button;
  width: 370px;
  height: 90px;

  box-shadow: 0 15px 40px rgba(0, 221, 255, 0.54);
  font-size: 18px;
  line-height: 27px;
  padding:18px 64px;
  &::before{
    position: absolute;
    left:0;
    top:50%;
  }
}
.offer__button-time{
  margin-right: 3.125vw;
  &::before{
    content: url("../images/main-offer/time.png");
    transform: translate(-50%, -48%);
  }
}
.offer__button-cond{
  &::before{
    content: url("../images/main-offer/cond.png");
    transform: translate(-15%, -40%);
  }
}

/*advantages*/
.advantages{
  background: $white;
  padding:3.9vh 0 13vh;
}
.advantages-container{
  display: flex;
  justify-content: space-between;
}
.advantages-item{
  width:247px;
  height: 267px;
  background: $white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  padding:50px 35px;
}
.advantages-item__img{

}
.advantages-item__title{
  font-family: $font-merri;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  @extend %gradient-text;
}
.advantages-item__subtitle{
  font-size: 16px;
  line-height: 24px;
}

/*facts*/
.facts{
  padding:5vh 0;
  background: $white;
}

.facts__title{
  color: $black-font;
  &::after{
    content:"ФАКТЫ";
  }
}
.facts__first-container{
  margin-top:5vh;
  display:flex;
}
.facts-left-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.facts-right-container{
  flex-basis: 40%;
}
.facts__first-item{

}
.facts__title-blue{
  @extend %gradient-text;
  @extend %merri-text;
  font-size: 18px;
  line-height: 27px;
}
.facts__title-main{
  @extend %merri-text;
  font-size: 24px;
  line-height: 36px;
  color: $black-font;
}
.facts__list{
  font-size: 16px;
  line-height: 24px;
  color: $gray-font;
  margin-top:30px;
}
.facts__list-item{
  padding-left:47px;
  position: relative;
  margin: 3vh 0;
  &::before{
    content: url("../images/about-company/plus.png");
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-45%);
  }
}

.facts__video-item {
  position: relative;
  width:100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #898989;
}
.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
.video__button{
  display:none;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5);
  cursor: pointer;
  width: 136px;
  height: 136px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: url("../images/pointer.png"), default;
  svg{
    position: absolute;
    margin-top:20%;
    left:50%;
    transform: translate(-60%);
  }
}
.video__button-second{
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video--enabled .video__button {
  display: block;
}
.video__area-button{
  height: 95px;
  width: 95px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    width: 55px;
    height: 55px;
  }
}
.video--enabled {
  cursor: pointer;
}

.facts__awards-container{
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}

.facts__awards-item{
  width:147px;
  text-align: center;

}
.facts__awards-item-wrapper{
  height:70%;

}
.facts__awards-text{
  font-size: 14px;
  line-height: 21px;
}


/*models*/
.models{
  background: url("../images/lineup/full-bg.png") no-repeat center;
  background-size: cover;
  padding:24vh 0;
}
.models__title{
  color: $white;
  &::after{
    content: "МОДЕЛИ";
  }
}
.models-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top:90px;
}
.models-item{
  background: $white;
  border: 1px solid #E2E4EF;
  text-align: center;
  color: $black-font;
  height:300px;
  transition: all .3s linear;
  position: relative;
  z-index:1;
  &::before{
    position: absolute;
    content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: linear-gradient(180deg, #3568DF 0%, #00DDFF 100%);
    opacity: 0;
    z-index:-1;
    transition: all .3s linear;
  }
  &:hover{
    border:none;
    box-shadow: 0 15px 40px rgba(0, 221, 255, 0.54);
    border-radius: 10px;
    transform: scale(1.05);
    z-index:2;
  }
  &:hover::before{
    opacity:1;
    border-radius: 10px;
  }
  &:hover .models__paragraph{
    color: $white;
  }
}
.models-item__image-container{
  height:70%;
}
.models-item__img{
  vertical-align: middle;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.models__paragraph{
  font-size: 14px;
  line-height: 21px;
}
.models__item-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/*catalog*/
.catalog{
  padding: 10vh 0;
  .box{
    position: relative;
    &::before{
      content: url("../images/catalog/remote.png");
      position: absolute;
      top:-50px;
      right:0;
    }
  }

}
.catalog__title{
  color: $black-font;
  &::after{
    content:"КАТАЛОГ";
  }
}
.catalog__container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top:12vh;
}
.catalog__item{
  background: $white;
  border: 1px solid #E2E4EF;
  padding:16px 20px 20px;
  font-size: 12px;
  line-height: 16px;
  transition: all .4s ease;
  position: relative;
  z-index:0;
  &:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transform: scale(1.05);
    z-index:1;
    border:1px solid transparent;
  }
}
.catalog__item-img-wrapper{
  max-width:250px;
  width:100%;
  height:100%;
  max-height: 180px;
  text-align: center;
}
.catalog__item-img{
  object-fit: cover;
  height:100%;
}
.catalog__item-subtitle{
  margin:20px 0 5px;
}
.catalog__item-title{
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: $black-font;
  margin:5px 0 20px;
}
.catalog__list{

}
.catalog__list-item{
  margin:8px 0;
  position: relative;
  padding-left: 10px;
  &::before{
    content:"";
    position: absolute;

    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #BCBFCF;
    left:0;
    top:50%;
    transform: translateY(-50%);
  }
}
.catalog__horizontal-line{
  height:1px;
  width:100%;
  background: #E2E4EF;
  margin:20px 0;
}
.catalog__item-cost{
  margin-bottom:8px;
}
.catalog__stock-cost{
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #D82D07;
  margin-left:30px;
}
.catalog__payment-cost{
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $black-font;
}
.catalog__item-button{
  @extend %blue-button;
  width: 237px;
  height: 56px;

  margin-top:20px;
  font-weight: bold;
  font-size: 16px;
  line-height:56px;
}
.catalog__button-container{
  display:flex;
  justify-content: center;
  margin-top:12vh;
}
.catalog__button-container-item{
   @extend %blue-button;
   width: 370px;
   height: 90px;

   box-shadow: 0 15px 40px rgba(0, 221, 255, 0.54);
   font-size: 18px;
   line-height: 27px;
   padding:18px 64px;
   &::before{
     position: absolute;
     left:0;
     top:50%;
   }
 }
.catalog__button-time{
  margin-right: 3.125vw;
  &::before{
    content: url("../images/main-offer/time.png");
    transform: translate(-45%, -48%);
  }
}
.catalog__button-cond{
  &::before{
    content: url("../images/main-offer/cond.png");
    transform: translate(-15%, -40%);
  }
}


/*articles*/
.articles{
  padding:8vh 0 20vh;
  background: url("../images/articles/full-bg.png") no-repeat center;
  background-size: cover;
  text-align: center;
}
.articles__title{
  text-align: left;
  color: $black-font;
  margin-top:12vh;
  &::after{
    content:"БЛОГ";
  }
}
.articles__container{
  margin-top: 12vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.articles__item{
  width:370px;
  text-align: center;
  transition: all .4s linear;
  position: relative;
  &:hover{
    transform: scale(1.05);
  }
  &:hover .articles__item-button{
    animation: fadeIn 0.4s linear both;
  }
  &:hover .articles__item-information{
    padding:20px;
    transform: translateY(40%);
  }
}
.articles__item-img-container{
  border-radius: 20px;
  overflow: hidden;
}
.articles__item-img{

}
.articles__item-information{
  background: #FFFFFF;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width:90%;
  text-align: left;
  padding:20px 20px 0;
  position: absolute;
  top:0;
  left:5%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .4s linear;
  transform: translateY(70%);
}
.articles__item-title{
  font-family: $font-merri;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  height:80px;
  color: $black-font;
}
.articles__item-paragraph{
  font-size: 14px;
  line-height: 21px;
}
.articles__item-button{
  opacity: 0;
  padding-left:25px;
  position: relative;

  transition: all .5s linear;
  line-height: 24px;
  font-weight: bold;
  font-size: 16px;

  background: -webkit-linear-gradient(270deg, #3568DF 0%, #00DDFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeOut 0.4s linear both;
  &::before{
    content: url("../images/articles/before.png");
    position: absolute;

    left:0;
    top:50%;
    transform: translateY(-40%);
  }
}

.articles__button{
  @extend %blue-button;
  margin-top: 20vh;
  width: 370px;
  height: 90px;
  line-height: 90px;
  font-weight: bold;
  font-size: 16px;
  color: $white;
  box-shadow: 0 15px 40px rgba(0, 221, 255, 0.54);
}


/*who-we*/

.who-we{
  background: $white;
}
.who-we__title{
  color: $black-font;
}
.who-we__adv-container{
  width: 57%;
  margin-top:15vh;
  border-radius: 10px;
  border: 1px solid #E2E4EF;
  position: relative;
}
.who-we__adv-item{
  background: $white;
  position: relative;
  z-index:2;
  cursor: url("../images/pointer.png"), default;
  &::before{
    max-width:90px;
    max-height:100px;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    transition: all .5s ease;
    z-index:1;
  }
  &::after{
    position: absolute;
    content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: linear-gradient(180deg, #3568DF 0%, #00ACC6 100%);
    transition: all .5s ease;
    opacity: 0;
    z-index:-1;
  }
}
.who-we__adv-item:nth-child(1){
  &::before{
    content: url("../images/about-us/img1.png");
  }
}
.who-we__adv-item:nth-child(2){
  &::before{
    content: url("../images/about-us/img2.png");
  }
}
.who-we__adv-item:nth-child(3){
  &::before{
    content: url("../images/about-us/img3.png");
  }
}
.who-we__adv-item:nth-child(4){
  &::before{
    content: url("../images/about-us/img4.png");
  }
}
.who-we__adv-item:nth-child(6){
  &::before{
    content: url("../images/about-us/img5.png");
  }
}
.who-we__adv-item:not(:last-child){
  border-bottom: 1px solid #E2E4EF;
}
.who-we__adv-item:first-child::after, .who-we__adv-item:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.who-we__adv-item:last-child::after, .who-we__adv-item:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.who-we__adv-text-container{
  padding-left:100px;
  position: relative;
  z-index:1;
}
.who-we__adv-text-title{
  font-family: $font-merri;
  font-weight: 900;
  font-size: 16px;
  line-height:24px;
  color: $black-font;
  padding:30px 0;
}
.who-we__adv-text{
  font-size: 14px;
  line-height:21px;
  color:$white;
  display:none;
  padding-right:90px;
}
.who-we__adv-item-open{
  position: relative;
  &::after{
    opacity: 1;
    z-index:0;
  }
  .who-we__adv-text{
    display:block;
  }
  &::before{
    transform: translateY(-50%) scale(2);
  }
  .who-we__adv-text-title{
    padding-bottom:15px;
    color: $white;
  }
  .who-we__adv-text{
    padding-bottom:30px;
  }
}
.who-we__image-big-container{
  position: absolute;
  right:-75%;
  top:10%;
  z-index:3;
  width:570px;
  height:430px;
  transition: all .5s ease;
}
.who-we__image-big{
  object-fit: cover;
  height:100%;
  //transition: all .5s ease;
}
.animate-img{
  animation: fadeInImg .6s linear both;
}




.empty{
  height:1000px;
  background: $white;
}
