.articles-page{
  background: $white;
}
.articles-page__inner{
  padding: 7vh 0 25vh;
  @media screen and (max-width: 768px) {
    padding: 5vh 0 8vh;
  }
}
.articles-page__container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 140px 20px;
  @media screen and (max-width: 1199px) {
    grid-gap: 200px 20px;
  }
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px 20px;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 370px;
    justify-content: center;
    grid-gap: 40px;
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: 300px;
    grid-gap: 120px 0;
  }
}
.articles-page__item{
  @media screen and (max-width: 991px) {
    width: auto;
  }
}
